.shoping__cart__table {
    margin-bottom: 30px;
  }
  .shoping__cart__table table {
    width: 100%;
    text-align: center;
  }
  .shoping__cart__table table thead tr {
    border-bottom: 1px solid #ebebeb;
  }
  .shoping__cart__table table thead th {
    font-size: 20px;
    font-weight: 700;
    color: #1c1c1c;
    padding-bottom: 20px;
  }
  .shoping__cart__table table thead th.shoping__product {
    text-align: left;
  }
  .shoping__cart__table table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__item {
    width: 630px;
    text-align: left;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__item img {
    display: inline-block;
    margin-right: 25px;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__item h5 {
    color: #1c1c1c;
    display: inline-block;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__price {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    width: 100px;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__total {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    width: 110px;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__item__close {
    text-align: right;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__item__close span {
    font-size: 24px;
    color: #b2b2b2;
    cursor: pointer;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__quantity {
    width: 225px;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
    width: 120px;
    height: 40px;
  }
  .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input {
    color: #1c1c1c;
  }
  .shoping__cart__table
    table
    tbody
    tr
    td.shoping__cart__quantity
    .pro-qty
    input::placeholder {
    color: #1c1c1c;
  }
  .shoping__cart__table
    table
    tbody
    tr
    td.shoping__cart__quantity
    .pro-qty
    .qtybtn {
    width: 15px;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  .table td,
  .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  table {
    border-collapse: collapse;
  }